#this config is meant to quickly and easily modify
#the script without diving into the code


#path to directory holding a subdirectory for each language
projectDirPath=/home/stasbenko/Desktop/stasmain/projects

#github url (mainly here to for easy modification in case
#i'll add support to more git websites like gitlab etc)

githubURL=https://github.com

#path to directory with the file templates
templatePath=/home/stasbenko/Desktop/stasmain/projects/bash/nproj/templates

#your github user profile name (note hub should be installed)
githubProfile=syatoss


